services:
  service-a:
    image: nginx
    ports:
      - "8080:80"
      
  # service-b:
  #   image: curlimages/curl
  #   command: ["sh", "-c", "sleep 5 && curl http://service-a:80"]

  service-b:
    image: curlimages/curl
    command:
      - sh
      - -c
      - |
        sleep 5
        if [ -z "$TARGET_URL" ]; then
          echo "ERROR: TARGET_URL not set"
          exit 1
        fi
        curl "$TARGET_URL"